@import url("https://unpkg.com/modesto@latest/modesto.css");

nav, footer {
  text-align: center;
  background-color: #ccc;
  margin: 0;
  padding: .5em;
}
nav a {
  padding: .5em;
  margin:0;
}
footer {
  bottom: 0;
}
main {
  min-height: 100%;
  min-width: 100%;
  box-sizing: border-box;
  margin:0;
  background-color: #efefef;
  padding: 1em;
}
h1 {
  margin-top: 0;
}